*{
    margin: 0%;
    padding: 1%;
}

body{background-color: #505050;}

.cacalho{
    background-color: rgb(41, 39, 39);
    color: rgb(163, 163, 163);
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    display: flex;
}

.sub{
    font-size: 25px;
    color: rgb(235, 221, 221);
}

.imga_titilo{
    width: 70%;
}