body{background-color: #505050;}

.cacalho{
    background-color: rgb(41, 39, 39);
    color: rgb(163, 163, 163);
    margin: 10px;
    justify-content: space-around;
    width: 10;
    justify-content: center;
}

.sub{
    font-size: 25px;
    color: rgb(235, 221, 221);
}